<ul id="menu" class="lavaLampNoImage sf-menu">
  <li><a href="home">About</a></li>
  <% if current_user %>
      <li><a id="admin" href= "#Administration">Administration</a></li>
  <% end %>

  <li><a href="#Test4">Test</a>
    <ul class="lavaLampNoImage">
      <li><a href="#Test">Test1</a></li>
      <li><a href="#Test">Test2</a></li>
      <li><a href="#Test">Test3</a></li>
    </ul>
  </li>
</ul>