<h1>Listing ranks</h1>

<hr />
<div id="rank_tree"class="span-10 box">
  <p>Ranks defined in the System
    <button id="add_rank">New rank</button><br /></p>
  <div id="rank_display">

  </div>

</div>
<div id="rank_links" class="span-10 ">
  <div id="manage_ranks">

      <%= render 'add_rank' %>
  </div>



</div>

