
<div class="span-15">
<% semantic_form_for @taxon_name do |form| %>
<% form.inputs do %>
	<%= form.input :scientific_name, :label => 'Scientific Name:' %>
	<%= form.input :authorship_year%>
<% end -%>
	<%= form.buttons %>
<% end %>
</div>

