<div class="span-15 colborder">

<% semantic_form_for @taxon_name do |f| %>

    <%  f.inputs do  %>
        <%= f.input  :scientific_name, :label => 'Scientific Name:' %>
        <%= f.input  :basionym_authorship, :label => 'Basionym Author:' %>
        <%= f.input  :authorship_year, :label => 'Authorship Year:', :as => :date, :order => [:month, :year] %>

    <% end %>
        <%= f.buttons :commit %>
    <% end %>

</div>