<li>
  <label>Select taxon rank:</label>
  <%= select("taxon_concept","rank_id", Rank.display_by_position.collect{|p| [p.name.humanize, p.id]}, :prompt => 'Select rank')%>
  <%#= link_to "Manage Rank" ,'#',:id => "add_new_rank_link"%>
  <%#= link_to image_tag "icons/add.png", :class => "tipsyme", :title => "test" %>
</li>