<div class="span-18 searchdiv">
  <table border="2" style="padding-top:12px">
    <tr>
      <td width="400px"><input type="text" name="search_taxon_concept" id="search_taxon_concept" class="searchbox"></td>
      <td><%= link_to image_tag("icons/btn-search.gif", :border=>0, :class => "search_button"), '#' %></td>
    </tr>

  </table>


</div>